.reader-entry {
	padding-top: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.reader-entry a {
	text-decoration: none;
}

.reader-entry-title {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 18px;
	font-family: 'Roboto-Bold';
}

.reader-entry-description p {
	padding: 0;
}

